/* website fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* utility styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
header{
    background-color: #F8F9FA;
}
.container{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0px 20px;
}
/* nav styles */
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin-left: 2em;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color:black;
}
.nav-content i{
    font-size: 24px;
}
nav ul li a:hover{
    border-bottom: 5px solid rgb(190, 28, 28);
    font-weight: bolder;
}

/* banner styles */
.banner{
    display: flex;
    align-items: center;
}
.banner-content{
    width: 50%;
}
.banner-content h1{
    font-size: 52px;
    margin-bottom: 16px;
}
.banner-content p{
    text-align: justify;
    font-size: 1.2em;
    margin-bottom: 2em;
}
.watch-btn{
    width: 50%;
    height: auto;
    padding: 15px 5px;
    font-size: 1.3em;
    background-color: #E02C6D;
    border:none;
    color: white;
    border-radius: 50px;
}
.banner-content i{
    font-size: 14px;
}
.banner-image{
    width: 50%;
}
.banner-image img{
    width: 70%;
    margin-left: 30%;
}
@media only screen and (max-width: 800px) {
    .container{
        height: auto;
    }
    .nav-content{
        flex-direction: column;
    }
    .nav-heading{
        margin: 15px 0px;
    }
    nav ul{
        flex-direction: column-reverse;
        text-align: center;
    }
    nav ul li{
        margin: 10px 0px;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
    .banner-content h1,p{
        text-align: center;
        font-size: 150%;
    }
    .watch-btn{
        width: 100%;
    }
    .banner-image img{
        margin-left: 0%;
    }
  }